<div class="container">
  <h2>Projects </h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://media.istockphoto.com/photos/new-idea-light-bulb-on-blackboard-picture-id518223706?k=6&m=518223706&s=170667a&w=0&h=EJGmz9HEn2b8TpAZqYevzAGeyIOtMpYw1Q5NKvKKDZg=" alt="">
        <div class="caption">
        <h4>Idea Box</h4>
        <p>
          Web application to record and track ideas. Ideas can have category tags and images associated with them. This is an individual Turing school project intended to focus on authentication and authorization. The site requires a user to login and has an admin responsible for managing category tags and images.</p>
          <%= link_to "View on Github", "https://github.com/kheppenstall/idea_box", class: "btn-sm btn-default"%>
          <%= link_to "Heroku Link", "https://ancient-inlet-69343.herokuapp.com/", class: "btn-sm btn-default"%>
        </div>
      </div>
    </div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://americanlibrariesmagazine.org/wp-content/uploads/2012/12/background_jobs4web.jpg" alt="">
        <div class="caption">
        <h4>Job Tracker</h4>
        <p>
          Web application to organize contacts, companies, comments, and categories for jobs. One of my first rails projects at Turing with CRUD functionality and postgres database.</p>
          <%= link_to "View on Github", "https://github.com/kheppenstall/job-tracker", class: "btn-sm btn-default"%>
          <%= link_to "Heroku Link", "https://powerful-tor-30592.herokuapp.com/dashboard", class: "btn-sm btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>

