<div class="container">
  <h2>Projects </h2>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="" "" alt="">
      <div class="caption">
        <h5>
          <%= "Describe project here "%>
          <%= link_to "View on Github", class: "btn-sm btn-default"%>
          <%= link_to "Heroku Link", class: "btn-sm btn-default"%>
        </h5>
      </div>
      </div>
  </div>
</div>

