$default-font: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

.homepage {
  background: url("/images/intro-bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $open-sans;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  font-family: $default-font;
}

.intro-text {
  color: white;
  text-align: center;
  font-size: 17px;
}