.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.nav.navbar-nav.navbar-right li a {
  font-weight: bold;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.nav.navbar-nav.navbar-left li a {
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
