<div class="center">
  <img src="headshot.jpg" class="img-circle" alt="Headshot" width="250" height="auto">
  <p class="intro-text">
    Hello, I'm Kyle. I am a
    <br>software developer,
    <br>educator, 
    <br>math enthusiast,
    <br>and rock climber.</p>
</div>